body {
	margin: 0 auto;
	font-family: 'Open Sans',sans-serif;
	font-size: 14px;
}

p {
	font-size: 14px;
	color: #777;
	line-height: 1.4;
}
.main-wrapper {
  background: url('/assets/blt6b3d21b9278cae4b/gal.png') no-repeat 0 0 #0f7bee;
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: bottom left;
}
.page-title {
	color: #56BF4B;
	font-size: 62px;
	text-align: right;
	margin: 25px 12px;
}
.navigation {
	display: inline-block;
	position: absolute;
	right: 0;
	top: 20%;
	text-align: right;
}
.navigation ul li {
	list-style-type: none;
}
.navigation ul li a {
	text-decoration: none;
	padding: 10px;
	display: inline-block;
	background: rgba(0,0,0,0.4);
	margin-bottom: 5px;
	color: #fff;
	font-size: 20px;
}
.navigation ul li a:hover {
	/*-webkit-transition: width 5s;
  transition: width 5s;
  transition-timing-function: ease;
  width: 200px;
  -webkit-transition: display 5s;
  transition: display 5s;
  display: block;*/
  background: rgba(0,0,0,0.6);
}
.social-icons {
	bottom: 20px;
  right: 0;
  position: absolute;
}
.social-icons li {
	display: inline-block;
	list-style-type: none;
}
.social-icons li span {
	background-size: cover;
  display: block;
  margin: 5px;
  height: 40px;
  width: 40px;
  vertical-align: middle;
}
.social-icons li span:hover {
	background-position: 40px 0;
}
@media screen and  (min-width: 0px) and (max-width: 767px) {
	.page-title {
		font-size: 42px;
	}
}
@media screen and  (min-width: 0px) and (max-width: 480px) {
	.page-title {
		font-size: 32px;
	}
	.social-icons li {
		display: block;
	}
}